---
import '../styles/global.scss';
---

<footer>
	<p>© 2024</p>
	<div class="footer_links">
		<a href="https://jetbov.com">Site</a>
		<a href="https://blog.jetbov.com">Blog</a>
		<a href="#">Whatsapp</a>
	</div>
</footer>
