---
import '../styles/global.scss';
import { SiteTitle } from '../consts';
import logoimage from '../assets/jetbov-logo.png';
---

<header>
	<nav>
		<h2 id="site_title">
			<a href="/">
				<img class="top-logo" src={logoimage.src}>
				{SiteTitle}
			</a>
		</h2>
		<div class="links">
			<a href="mailto:contato@jetbov.com">Contato</a>
		</div>
	</nav>
</header>

<style>
	.links a {
		text-decoration: none;
	}
</style>
